@font-face {
  font-family: 'Roboto-Regular';
  src: url(/fonts/Roboto-Regular.woff) format('woff'),
  url(/fonts/Roboto-Regular.woff2) format('woff2'),
  url(/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(/fonts/Roboto-Bold.woff) format('woff'),
  url(/fonts/Roboto-Bold.woff2) format('woff2'),
  url(/fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F9FA;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


img {
  width: 100%;
  height: auto;
}

button, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}