$px: .069445;

.GoogeRecaptcha {
    margin-top: 20vw * $px;
    // Vars

    // Support

    // Module
    & {
        //
    }

    // Facets

    // States
}

.captcha-btn-holder {
    margin-top: 33vw * $px;
    .yellow-btn {
        margin: auto;
    }
}
